<form class="form" (submit)="getPlace(search.value, price.value); false;">
  <div style="text-align:center">
    <h1>Yelp-API</h1>

    <select #price name="select" class="select">
      <option value="$">$</option>
      <option value="$$">$$</option>
      <option value="$$$">$$$</option>
      <option value="$$$$">$$$$$</option>
    </select>
    <br/><br/>

    <input #search class="input" placeholder="location">
    <br/>
    <br/>

    <button>Search</button>
  </div>

  <div> <!--*ngIf="dinnerDone == true" -->
    <img src={{dinner.image_url}} width="250px" height="200px"/>
    <div>
      <ul class="list">
        <li>Rating: {{ratingView}}</li>
        <li>Name: {{dinner.name}}</li>
        <li>Address: {{dinner.location.address1}}</li>
        <li>Phone# {{dinner.phone}}</li>
        <li *ngIf="transaction == true">We Deliver!</li>
      </ul>
    </div>
  </div>
</form>
